
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section styles{
    <!-- 比较好用的代码着色插件 -->
    <link href="~/Content/css/prettify.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="~/Content/css/detail.css" rel="stylesheet" />
}
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">
        <!-- QQ互联登陆 -->
        <a href="javascript:;" class="blog-user">
            <i class="fa fa-qq"></i>
        </a>
        <a href="javascript:;" class="blog-user layui-hide">
            <img src="~/Content/images/Absolutely.jpg" alt="Absolutely" title="Absolutely" />
        </a>
        <!-- 不落阁 -->
        <a class="blog-logo" href="/Home/Index">Contione</a>
        <!-- 导航菜单 -->
        <!-- 导航菜单 -->
        @Html.Partial("_Title", "文章专栏")
        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
            <a href="/Home/index" title="网站首页">网站首页</a>
            <a href="/Article/Index" title="文章专栏">文章专栏</a>
            <a><cite>关于         【正则】表达式那些事</cite></a>
        </blockquote>
        <div class="blog-main">
            <div class="blog-main-left">
                <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                <div class="article-detail shadow">
                    <div class="article-detail-title">
                        关于         【正则】表达式那些事
                    </div>
                    <div class="article-detail-info">
                        <span>编辑时间：2018/5/24 17:30:22</span>
                        <span>作者：Contione</span>
                        <span>浏览量：12+</span>
                    </div>
                    <div class="article-detail-content">
                        <p style="text-align:center;">
                            <strong><span style="font-size:18px;">小赌为快</span></strong>
                        </p>
                        <p style="text-align:center;">
                            <strong>
                                <span style="font-size:18px;">
                                    <br />
                                </span>
                            </strong>
                        </p>
                        @*<p style="text-align:center;">
                                <img src="~/Content/Article/正则.png" width="100%" height="auto" title="pagesize演示" alt="pagesize演示" />
                            </p>*@
                        <p style="text-align:left;">
                            <br />
                        </p>
                        <hr />
                        <p>
                            <br />
                        </p>
                        <div style="text-align:center;">
                            &nbsp; &nbsp; <span style="color:#EE33EE;">前言</span>：如果你还没有使用过，那么请仔细看看这篇文章！
                        </div>
                        <hr />


                        <p>
                            &nbsp; &nbsp; <span style="color:#EE33EE;">直接上代码</span>
                        </p>
                        <p>
                            <br />
                        </p>
<pre class="prettyprint linenums lang-js">
          （字符）                              （表达式）                （匹配）
    “\b”匹配一个单词的边界                       \bhi\b                   hi this

    “\B”匹配一个单词的非边界                     \Bhi\B                   hi this
 
    “\d”匹配一个数字字符                         \d                       12345

    “\D”匹配一个非数字字符                       \D                       A a

    “\w”匹配字母/数字/下划线                     \w                       123abc_
 
    “\W”匹配除字母/数字/下划线                   \W                       #$%
  
    “^”代表字符串的开头                          ^hi                      hi him hidden

    “$”代表字符串的结束                          hi$                      hi chi  Orochi

    “[]”匹配指定一堆字符中的一个                ^[a-z]at$                cat mat zat

    “[^]”不匹配这个集合中任何一个字符           ^[^xyz]at$               yat xat zat

    “+”表示前一模式可以被重复1次或n次           ^go+gle$                 gogle google gooooogle

    “？”表示前一模式可以被匹配0次或1次          ^go?gle$                 ggle gogle
 
    “{x}”表示前一模式模式可以被重复x次          ^go{2}gle$               google

    “{x,y}”表示前一模式模式可以被重复x到y次     ^go{2,4}gle$             google gooogle goooogle

    “{x,}”表示前一字符模式可以被重复至少x次     ^go{2,}gle$              google gooogle gooooogle

    “( )”可以指定一堆字符来匹配一个模式（分组） ^(very )*large$          large very very large  very large
</pre>
                        <p>
                            &nbsp; &nbsp; <span style="color:#EE33EE;">基本常用的正则</span>
                        </p>

<pre class="prettyprint linenums lang-js">
     //   一、校验数字的表达式
    1 数字：^[0-9]*$
    2 n位的数字：^\d{n}$
    3 至少n位的数字：^\d{n,}$
    4 m-n位的数字：^\d{m,n}$
    5 零和非零开头的数字：^(0|[1-9][0-9]*)$
    6 非零开头的最多带两位小数的数字：^([1-9][0-9]*)+(.[0-9]{1,2})?$
    7 带1-2位小数的正数或负数：^(\-)?\d+(\.\d{1,2})?$
    8 正数、负数、和小数：^(\-|\+)?\d+(\.\d+)?$
    9 有两位小数的正实数：^[0-9]+(.[0-9]{2})?$
    10 有1~3位小数的正实数：^[0-9]+(.[0-9]{1,3})?$
    11 非零的正整数：^[1-9]\d*$ 或 ^([1-9][0-9]*){1,3}$ 或 ^\+?[1-9][0-9]*$
    12 非零的负整数：^\-[1-9][]0-9"*$ 或 ^-[1-9]\d*$
    13 非负整数：^\d+$ 或 ^[1-9]\d*|0$
    14 非正整数：^-[1-9]\d*|0$ 或 ^((-\d+)|(0+))$
    15 非负浮点数：^\d+(\.\d+)?$ 或 ^[1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0$
    16 非正浮点数：^((-\d+(\.\d+)?)|(0+(\.0+)?))$ 或 ^(-([1-9]\d*\.\d*|0\.\d*[1-9]\d*))|0?\.0+|0$
    17 正浮点数：^[1-9]\d*\.\d*|0\.\d*[1-9]\d*$ 或 ^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$
    18 负浮点数：^-([1-9]\d*\.\d*|0\.\d*[1-9]\d*)$ 或 ^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$
    19 浮点数：^(-?\d+)(\.\d+)?$ 或 ^-?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$
    //二、校验字符的表达式
     1 汉字：^[\u4e00-\u9fa5]{0,}$
     2 英文和数字：^[A-Za-z0-9]+$ 或 ^[A-Za-z0-9]{4,40}$
     3 长度为3-20的所有字符：^.{3,20}$
     4 由26个英文字母组成的字符串：^[A-Za-z]+$
     5 由26个大写英文字母组成的字符串：^[A-Z]+$
     6 由26个小写英文字母组成的字符串：^[a-z]+$
     7 由数字和26个英文字母组成的字符串：^[A-Za-z0-9]+$
     8 由数字、26个英文字母或者下划线组成的字符串：^\w+$ 或 ^\w{3,20}$
     9 中文、英文、数字包括下划线：^[\u4E00-\u9FA5A-Za-z0-9_]+$
    10 中文、英文、数字但不包括下划线等符号：^[\u4E00-\u9FA5A-Za-z0-9]+$ 或 ^[\u4E00-\u9FA5A-Za-z0-9]{2,20}$
    11 可以输入含有^%&',;=?$\"等字符：[^%&',;=?$\x22]+
    12 禁止输入含有~的字符：[^~\x22]+
    //三、特殊需求表达式
     1 Email地址：^\w+([-+.]\w+)*\w+([-.]\w+)*\.\w+([-.]\w+)*$
     2 域名：[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(/.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+/.?
     3 InternetURL：[a-zA-z]+://[^\s]* 或 ^http://([\w-]+\.)+[\w-]+(/[\w-./?%&=]*)?$
     4 手机号码：^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$
     5 电话号码("XXX-XXXXXXX"、"XXXX-XXXXXXXX"、"XXX-XXXXXXX"、"XXX-XXXXXXXX"、"XXXXXXX"和"XXXXXXXX)：^(\(\d{3,4}-)|\d{3.4}-)?\d{7,8}$ 
     6 国内电话号码(0511-4405222、021-87888822)：\d{3}-\d{8}|\d{4}-\d{7}
     7 身份证号(15位、18位数字)：^\d{15}|\d{18}$
     8 短身份证号码(数字、字母x结尾)：^([0-9]){7,18}(x|X)?$ 或 ^\d{8,18}|[0-9x]{8,18}|[0-9X]{8,18}?$
     9 帐号是否合法(字母开头，允许5-16字节，允许字母数字下划线)：^[a-zA-Z][a-zA-Z0-9_]{4,15}$
    10 密码(以字母开头，长度在6~18之间，只能包含字母、数字和下划线)：^[a-zA-Z]\w{5,17}$
    11 强密码(必须包含大小写字母和数字的组合，不能使用特殊字符，长度在8-10之间)：^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,10}$  
    12 日期格式：^\d{4}-\d{1,2}-\d{1,2}
    13 一年的12个月(01～09和1～12)：^(0?[1-9]|1[0-2])$
    14 一个月的31天(01～09和1～31)：^((0?[1-9])|((1|2)[0-9])|30|31)$ 
    15 钱的输入格式：
      1.有四种钱的表示形式我们可以接受:"10000.00" 和 "10,000.00", 和没有 "分" 的 "10000" 和 "10,000"：^[1-9][0-9]*$ 
      2.这表示任意一个不以0开头的数字,但是,这也意味着一个字符"0"不通过,所以我们采用下面的形式：^(0|[1-9][0-9]*)$ 
      3.一个0或者一个不以0开头的数字.我们还可以允许开头有一个负号：^(0|-?[1-9][0-9]*)$ 
      4.这表示一个0或者一个可能为负的开头不为0的数字.让用户以0开头好了.把负号的也去掉,因为钱总不能是负的吧.下面我们要加的是说明可能的小数部分：^[0-9]+(.[0-9]+)?$ 
      5.必须说明的是,小数点后面至少应该有1位数,所以"10."是不通过的,但是 "10" 和 "10.2" 是通过的：^[0-9]+(.[0-9]{2})?$ 
      6.这样我们规定小数点后面必须有两位,如果你认为太苛刻了,可以这样：^[0-9]+(.[0-9]{1,2})?$ 
      7.这样就允许用户只写一位小数.下面我们该考虑数字中的逗号了,我们可以这样：^[0-9]{1,3}(,[0-9]{3})*(.[0-9]{1,2})?$ 
      8.1到3个数字,后面跟着任意个 逗号+3个数字,逗号成为可选,而不是必须：^([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$ 
      //备注：这就是最终结果了,别忘了"+"可以用"*"替代如果你觉得空字符串也可以接受的话(奇怪,为什么?)最后,别忘了在用函数时去掉去掉那个反斜杠,一般的错误都在这里
   
    16 xml文件：^([a-zA-Z]+-?)+[a-zA-Z0-9]+\\.[x|X][m|M][l|L]$
    17 中文字符的正则表达式：[\u4e00-\u9fa5]
    18 双字节字符：[^\x00-\xff]    (包括汉字在内，可以用来计算字符串的长度(一个双字节字符长度计2，ASCII字符计1))
    19 空白行的正则表达式：\n\s*\r    (可以用来删除空白行)
    20 HTML标记的正则表达式：<(\S*?)[^>]*>.*?</\1>|<.*? />    (网上流传的版本太糟糕，上面这个也仅仅能部分，对于复杂的嵌套标记依旧无能为力)
    21 首尾空白字符的正则表达式：^\s*|\s*$或(^\s*)|(\s*$)    (可以用来删除行首行尾的空白字符(包括空格、制表符、换页符等等)，非常有用的表达式)
    22 腾讯QQ号：[1-9][0-9]{4,}    (腾讯QQ号从10000开始)
    23 中国邮政编码：[1-9]\d{5}(?!\d)    (中国邮政编码为6位数字)
    24 IP地址：\d+\.\d+\.\d+\.\d+    (提取IP地址时有用)
</pre>
                        <p>
                            <br />
                        </p>
                        <p>
                            &nbsp; &nbsp; 使用方法如下：
                        </p>
                        <pre class="prettyprint linenums lang-js">
    var str = '374829348791';
    var re = /\D/;        //在这里写你的正则表达式  \D代表非数字
    if( re.test(str) ){   // 返回true,代表在字符串中找到了非数字。
        alert('不全是数字');
    }else{
        alert('全是数字');
    }   
                        </pre>
                        &nbsp;&nbsp; &nbsp;<span style="color:#EE33EE;">今天就分享到这里啦！</span>
                        <p>
                            &nbsp; &nbsp; 点赞Contione：<a href="" target="_blank"><span style="color:#337FE5;">点击前往</span></a>&nbsp; &nbsp; 完整演示请看后台：<span><a href="" target="_blank"><span style="color:#337FE5;">点击前往</span></a></span>&nbsp; &nbsp; 下载地址：<a href="https://pan.baidu.com/s/1kVK8UhT" target="_blank"><span style="color:#337FE5;">点击前往</span></a>
                        </p>
                        <hr />
                        &nbsp; &nbsp; 出自：Contione
                        <p>
                            &nbsp; &nbsp; 地址：<a href="http://www.contione.cn" target="_blank">www.contione.cn</a>
                        </p>
                        <p>
                            &nbsp; &nbsp; 转载请注明出处！<img src="" border="0" alt="" />@*http://www.lyblogs.cn/kindeditor/plugins/emoticons/images/0.gif*@
                        </p>
                        <p>
                        <br />
                        </p>
                    </div>
                </div>
                <!-- 评论区域 -->
                <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                        <legend>来说两句吧</legend>
                        <div class="layui-field-box">
                            <form class="layui-form blog-editor" action="">
                                <div class="layui-form-item">
                                    <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark">提交评论</button>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <div class="blog-module-title">最新评论</div>
                    <ul class="blog-comment">
                        <li>
                            <div class="comment-parent">
                                <img src="~/Content/images/Absolutely.jpg" alt="absolutely" />
                                <div class="info">
                                    <span class="username">Contione</span>
                                    <span class="time">2017-03-18 18:46:06</span>
                                </div>
                                <div class="content">
                                    我为大家做了模拟评论功能！还有，这个评论功能也可以改成和留言一样，但是目前没改，有兴趣可以自己改
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_Right")
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>

@section scripts{
    <!-- 比较好用的代码着色插件 -->
    <script src="~/Content/js/prettify.js"></script>
    <!-- 本页脚本 -->
    <script src="~/Content/js/detail.js"></script>
}

